{{> partials/header title=title }}

<h1 class="title">
    {{ title }}
</h1>
<p class="subtitle">
    <em>
        {{#if description}}
            {{description}}
        {{else}}
            The user has not provided a description for this list.
        {{/if}}
    </em>
</p>

{{#unless songs}}
    <div class="notification is-warning">
        This list currently doesn't have any songs. Check back later, maybe you'll find your next favorite!
    </div>
{{/unless}}

<div class="columns is-multiline is-desktop">

    {{#each songs}}

    <div class="column is-half-desktop">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <a href="{{link}}">{{title}}</a>
                </p>

                <span class="tag is-primary">
                    Score: {{score}}
                </span>

            </header>
            <div class="card-content">
                <div class="content">
                        {{#if comment}}
                            {{comment}}
                        {{else}}
                            No comment
                        {{/if}}
                        <br>
                        <em>
                            {{created_at}}
                        </em>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">+1</a>
                <a href="#" class="card-footer-item">-1</a>
                <a href="#" class="card-footer-item">Comments ({{comment_count}})</a>
            </footer>
        </div>
    </div>

    {{/each}}
    
</div>

{{> partials/footer }}